
/*for footer*/
#a{
	color: white;
	background-color: black;
}

/*for I-top*/
    #ac {
border: 3px solid #201772;
border-radius: 5px;

}
/*for I-link*/
 #ad {
border: 3px solid #201772;
border-radius: 5px;
background-color: ;
}
/*for I-welcome*/
    #ae {
border: 3px solid  #CDE6B8;
border-radius: 5px;
background-color:  #CDE6B8;
}
/*for I-view profile*/
	#bb{
		background-color: #CDE6B8;

}